/*--------------------------------------------------------------------------------------------
*
*	Vars
*
*--------------------------------------------------------------------------------------------*/

/* colors */
@acf_blue: #2a9bd9;
@acf_notice: #2a9bd9;
@acf_error: #F55E4F;
@acf_success: #46b450;
@acf_warning: #fd8d3b;

/* acf-field */
@field_padding: 15px 12px;
@field_padding_x: 12px;
@field_padding_y: 15px;
@fp: 15px 12px;
@fy: 15px;
@fx: 12px;


/* responsive */
@md: 880px;
@sm: 640px;


/*--------------------------------------------------------------------------------------------
*
*	Mixins
*
*--------------------------------------------------------------------------------------------*/

.clearfix() {
	
	&:after {
	    clear: both;
	    content: "";
	    display: table;
	}
	
}

.border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.centered() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.animate() {
	-webkit-transition: all 0.3s ease;  /* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease;  /* Opera 10.5–12.00 */
    transition: all 0.3s ease;  /* Firefox 16+, Opera 12.50+ */
}

.rtl() {
	html[dir="rtl"] & {
		text-align: right;
	}
}
